body {
    margin: 0;
    padding: 0;
    font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;;
}
.jumbotron {
    margin-bottom: 0;
}
#navbarToggler{
    color: white;
}
#la_map {

    width: 400px;
}
img{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
#mid_content {
    padding: 1em;
}
h2 {
    font-weight: bold;
    font-size: 120%;
    
} 
p {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 110%;;
letter-spacing: 0px;
word-spacing: 0px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.navbar {
    margin-bottom: 2em;
}

#content_image {
    
    width: 65%;
    height: auto;
    
    /* border-radius: 20%; */
}

#first_caption {
    padding-left: 15%;
}

#table {  
    height: 800px !important;
    overflow: scroll;
}​ 

tbody {
    display:none;
    /* z-index: unset; */

  }

.header{
    
    position:sticky;
    top: 0 ;
    margin-bottom: 2em;
}